.qauntityDiv{
    display: inline-flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: transparent;
    color: var(--font);
    border-radius: 3.34vw;
    /* transition: background 1s; */
    width: fit-content;
    min-width: 10vw;
    height: var(--buttonHeight);
    overflow: hidden;
}

.qauntityDiv p{
    margin: 0;
}

.qauntityDiv button{
    border: 0px;
    outline: 0px;
    width: fit-content;
    height: fit-content;
    padding: 0 10px;
    margin: 0;  
    font-size: larger;
    background-color: transparent !important;
}

.qauntityDiv button:hover{
    /* color: var(--colorInverse); */
    border: 0px !important;
    outline: 0px !important;
}
