.colouredDiv{
    display: block;
    width: 100%;
    height: 80%;
    position: absolute;
    bottom : 0;
    right: 0;
    z-index: 0;
    border-radius: 1.5%;
    transition: 1.5s;   
    background-color: transparent;
    box-shadow: var(--shadow);
}

.productCard{
    background-color: transparent;
    border-radius: 1.5%;
    position: relative;
    padding: 0 12px 10px 12px;
    transition: 0.5s;
}

.productCard-Column {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
}
.productCard-Column .productImg{
    width: 96%;
    height: 60%;
    min-width: 100px;
    min-height: 70px;
}

.productCard-Row{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    display: grid;
    grid-template-areas: 
    'productImg .'
    'productImg .'
    'productImg productPara'
    'productImg productTitle'
    'productImg productPrice'
    'productImg productQuantity'
    'productImg productRating'
    'productImg cartBtn'
    ;
    gap: 5px;
    align-items: flex-end;
    text-align: left;
}

.productCard-Row .productImg{
    grid-area: productImg;
    width: 20vw;
    height: 100%;
}

.productCard-Row .productTitle {
    max-height: fit-content;
    grid-area: productTitle;
}

.productCard-Row .productPara{
    max-height: fit-content;
    grid-area: productPara;
}
.productCard-Row .productPrice{
    max-height: fit-content;
    grid-area: productPrice;
}
.productCard-Row .qauntityDiv{
    max-height: fit-content;
    grid-area: productQuantity;
}
.productCard-Row  .productRating{
    max-height: fit-content;
    grid-area: productRating;
}
.productCard-Row .cartBtn{
    max-height: fit-content;
    grid-area: cartBtn;
}

.productImg{
    z-index: 1;
    background-color: transparent;
    position: relative;
    border-radius: 1.5%;
    /* box-shadow:var(--shadow); */
    transition: 2s;
}

.productImg img{
    width: 100%;
    height: 100%;
    border-radius: 1.5%;
}
.productImg-Btns{
    z-index: 1;
    width: 100%;
    height: auto;
}
.productImg-Btns button{
    transition: 1s;
    height: fit-content;
    width: auto;
    font-size: 1.2rem;
    position: absolute;
    bottom: 5%;
    color : var(--bg);
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 50%;
    padding: 5px;
    box-shadow: var(--shadowOut);
}
.productImg-Btns>button:first-child{
    left : 5%;
}
.productImg-Btns>button:last-child{
    right : 20%;
}
.productImg-Btns>button:nth-child(2){
    right :5%;
}
.productImg-Btns button:hover{
    bottom: 10%;
}

.productColumn-imgHover:hover .productImg{
    height: 30%;
}
.col-hoverBtn{
    display: none;
    opacity: 0;
    transition:opacity 1s;
}
.productColumn-imgHover:hover .col-hoverBtn{
    display: block;
    opacity: 1;
}

.resizeImgHover{
    overflow: hidden;
}

.resizeImgHover img{
    width: 100%;
    height: 100%;
    position: absolute;
    top : 0;
    left : 50%;
    transform: translateX( -50%);
    z-index: 0;
    transition: 1s;
}

.resizeImgHover:hover img{
    width: 120%;
    height: 120% ;
}

.half{
    width: 50% !important;
}

.full{
    width: 100% !important;
}
