/* :root{
    --dialogWidth : 95vw;
    --dialogHeight : 40vh;
}

.dialog{
    
    z-index: 105;
    width: auto;
    height: auto;
    max-height: 80vh;
    margin: 0;
    padding: 0;
    padding-bottom: 2vh;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-items: center;
    background-color: var(--bg);
    color : var(--color);
}

.dialog>div{
    position: relative;
    width: var(--dialogWidth);
    height: fit-content;
    overflow: hidden;
}

.dialogBanner p{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 1%;
    font-size: 2rem;
    color: var(--bg);
    white-space : pre;
}
.dialogBanner .carousel{
    height: var(--dialogHeight);
    width: var(--dialogWidth);
}
.dialogBanner .carousel-item>div{
    display: flex;
    justify-content: center;
    align-items: center;
}
.dialogBanner .carousel img{
    overflow: hidden;
    height: var(--dialogHeight) !important;
    width: auto;
}
.dialogBanner img{
    width: 100%;
    height: auto;
    overflow: hidden;
}

.dialogDetail{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.productDetail{
 padding: 4% 2%;
}
.productDetail *{
    width: 100%;
}

.bellAd{
    z-index: 102;   
    position: fixed;
    bottom: 15px;
    left : 15px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 0;
    height: fit-content;
    width: auto;
    background-color: transparent;
}
.bellAd > div{
    display: inline-flex;
    align-items: center;
    margin: 0;
    width: auto;
    max-width: 90vw;
    height: auto;
    padding: 2px;
    overflow: hidden;
    
    -webkit-box-shadow: 0px 1px 32px 9px rgba(0,0,0,0.27); 
    box-shadow: 0px 1px 32px 9px rgba(0,0,0,0.27);
}
.ad{
    background-color: var(--bg);
    color: var(--color);
    border-radius: 3.34vw;
}
.ad img{
    height: 8vh;
    width: auto;
    border-radius: 50%;
}
.ad span{
    width: 60%;
}
.ad p{
    margin: 0;
    padding: 0;
}
.ad button{
    background-color: var(--grayBase);
    border: 0px;
    border-radius: 50%;
    font-weight: bold;
    font-size: 1.5rem;
}
.bell {
    justify-content: space-between;
    background-color: gray;
    border-radius: 12px;
    transition: 1.5s width;
}

.bell>span {
    display: inline-flex;
    align-items: center;
    
    color: var(--bg);
    background-color: transparent;
}

.bell p{
    width: 70%;
    font-size: small;
}
.bell button{
    margin: auto 3%;
    border: 0px;
    border-radius: 3.34vw;
    background-color: var(--bg);
    color: var(--color);
    font-weight: bold;
}
.btnBell{
    padding: 2px;
    font-size: 2.5rem;
}
.bell button:last-child{
    background-color: transparent !important;
    font-size: 2.5rem;
}

@media screen and (min-width : 850px){
    :root{
        --dialogWidth : 40vw;
        --dialogHeight : 80vh;
    }
    .dialog{   
        flex-direction: row;
        padding: 0;
    }
    
} */