:root{
    --color :#222222; 
    --bg : white;
    --highlighter : #fdc2ab;
    --grayBase : #f6f6f8 ;
    --alert : red;
    --borderColor : rgba(34, 34, 34, 0.432);
    
    --shadow :inset 0px 0px 6px 2px #00000026, 5px 5px 26px -11px #000000; 
    --shadowIn :inset 0px 0px 6px 2px rgba(0,0,0,0.54) ;
    --shadowOut : 5px 5px 26px -11px #000000;
      
    --sliderDivHeight : 50vh;
    --buttonHeight : 36px;
  }

.myLabels{
    white-space: pre;
    text-decoration: none;
    color: var(--color);
    background-color: inherit;
    text-transform: uppercase;
    border: 0px;
    letter-spacing: .2px;
}
.myLabels a{
    text-decoration: none;
    color: var(--color);
    background-color: inherit;
    text-transform: uppercase;
    border: 0px;
}

.columnCenter{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.columnBetween{  
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.inlineCenter{
    width: 100%;
    display: inline-flex;
    justify-content:space-between;
    align-items: center;
}

.allowWrap{
    flex-wrap: wrap;
}
.centerFixed{
    position: fixed;
    top : 50%;
    left : 50%;
    transform: translate(-50% , -50%);
}

.glassBg{
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0 4px 30px rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(38px);
    -webkit-backdrop-filter: blur(38px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}
.fadeBg{
    width: 100vw;
    height: 100vh;
    
    margin: 0;
    z-index: 11;
    background-color: rgba(0, 0, 0, 0.211);
    position: fixed;
    top : 0 ;
    left :0;
}

.alertBg{
    color: var(--bg);
    background-color: var(--alert);
}  
.myBadge{
    width: fit-content;
    height: auto;
    max-height: var(--buttonHeight);
    border-radius: 20%;
    padding: 1.5px 3px;
    line-height: 1;
    font-size: 0.7rem;
    text-transform: lowercase;
}
.yScroll{
    height: 10rem;
    overflow-y: auto;
}
.tooltip-Parent{
    width: fit-content;
    height: 3vh;
    position: relative;
    overflow: visible;
    font-size: inherit;
}

.myTooltip{
    font-size: 0.8rem !important ;
    position: absolute !important;
    background-color: var(--color);
    color: var(--bg);
    border-radius: 8%;
    padding: 4px;
    display: none;
    transition: 1s;
}
.toolUp{
    top : -100% !important;
    white-space :pre; 
}

.tooltip-Parent:hover .myTooltip{
    display: block;
}

.customInputDiv{
    display: inline-flex;
    border: 1px solid var(--color);
    border-radius: 3.34vw;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.166);
    width: fit-content;
    max-width: 100%;
    height: auto;
    max-height: var(--buttonHeight);
    padding-left:1.5%;
    
}
.customInputDiv input{
    border : 0px;
    border-radius: 3.34vw;
    background-color: transparent;
}
.customInputDiv input:focus-visible{
    border: 0px;
    outline: 0px;
}

@keyframes slideIn {
    0%{
        transform: translateX(-100%);
    }
    100%{
        transform: translateX(0%);
    }
}

@keyframes slideOut {
    0%{
        transform: translateX(0%);
    }
    100%{
        transform: translateX(-100%);
    }
}

@media screen and (min-width : 992px){
    :root{
        --navHeight : 21vh;
      }
      
      .yScroll{
        height:auto;
        min-height: 10vh;
    }
   
}