:root{
    --color :#222222; 
    --bg : white;
    --highlighter : #fdc2ab;
    --grayBase : #f6f6f8 ;
    --alert : red;
    --borderColor : rgba(34, 34, 34, 0.432);
    --navHeight : 13vh;

    --collectionDivHeight   : 50vh;   
  }

.fadeBg{
    width: 100vw;
    height: 100vh;
    box-sizing: border-box;
    margin: 0;
    z-index: 100;
    background-color: rgba(0, 0, 0, 0.211);
    position: fixed;
    top : 0 ;
    left :0;
}
.highlighter{
    color: var(--highlighter);
}

.alertColor{
    color: var(--alert) !important;
}
.alertBg{
    color: var(--bg);
    background-color: var(--alert);
}  
.myBadge{
    width: fit-content;
    height: auto;
    border-radius: 20%;
    padding: 1.5px 3px;
    line-height: 1;
    font-size: 0.7rem;
    text-transform: lowercase;
}
.noBtn{
    border: none;
    outline: none;
    font-weight: bolder;
    font-size: 2rem;
    background-color: transparent;
    color : var(--color);
    margin: 0;
    padding: 0;
    text-decoration: none;
}
.noBtn > button {
    margin: 0;
    padding: 0;
    height: 100%;
    width: fit-content;
}
.full-Block{
    width: 100% !important;
    height: 100% !important;
}

.full-X-Block{
    width: 100% !important;
}
.crossBtn {
    position: relative;
    width: 100%;
    display: inline-flex;
    justify-content:flex-end;
    align-items: center;
    border: 0px;
    background-color: transparent;
    font-size: 2rem;
    font-weight: bolder;
    transition: 0.2s;
    margin : 1vh 0 2vh 0;
}

.crossBtn:hover{
    transform: rotate(180deg);
}

.tooltip-Parent{
    width: fit-content;
    height: 3vh;
    position: relative;
    overflow: visible;
}

.myTooltip{
    position: absolute;
    background-color: var(--color);
    color: var(--bg);
    border-radius: 8%;
    padding: 1px 3px;
    display: none;
    transition: 1s;
    /* overflow: visible; */
}

.tooltip-Parent:hover .myTooltip{
    display: block;
}
@media screen and (min-width : 992px){
    :root{
        --navHeight : 21vh;
      }  
}