.noBtn{
    border: none;
    outline: none;
    font-weight: bolder;
    font-size: 2rem;
    background-color: transparent;
    color : var(--color);
    margin: 0;
    padding: 0;
    text-decoration: none;
}
.noBtn > button {
    margin: 0;
    padding: 0;
    height: 100%;
    width: fit-content;
}

.cross{
    position: absolute;
    z-index: 1;
    right : 0;
    top : 0;
    font-weight: bolder;
    font-size: 2rem;
    padding: 3px;
    margin: 0px;
    line-height: 0;
    border: 0px;
    border-radius: 8%;
    max-width: 35px;
    max-height: 35px;
    z-index: 20;
    box-shadow: var(--shadowOut);
}
.customDarkBtn{
    text-decoration: none;
    z-index: 2;
    color: var(--bg) !important;
    background-color: var(--color) !important;
    border-radius: 3.34vw;
    border: 0.5px solid var(--borderColor);
    transition: 1.5s;
    width: fit-content;
    height: auto;
    max-height: var(--buttonHeight);
    padding: 0.5vw 1vw;
    margin: 2px;
    overflow: hidden;
    font-weight: 500;
    font-size: medium;
    text-align: center;
    white-space: pre;
}
.customDarkBtn a{
    color: var(--bg);
    text-decoration: none;   
}
.cross:hover ,.customDarkBtn:hover{
    background-color: var(--borderColor) !important;
}

.highLightedBtn{
    border-radius: 3.34vw;
    margin: 2vh 0;
    background-color: var(--highlighter);
    border: 0px;
    color: var(--bg);
    font-weight: 600;
    height: 5vh;
    width: 100%;
    max-width: 400px;
    box-shadow: var(--shadow);
}

.highLightedBtn:hover{
    box-shadow: inset 0px 0px 6px 2px #00000026, 5px 5px 15px -11px #000000;
}
