.productPgImg{
    width: auto;
    max-width: 40%;
    display: flex;
    flex-direction: column;
    align-items: stretch ; 
}
.productPgImg>img{
    height: 55vh;
    width: auto;
}
.productPgImg>div{
    width: 100%;
    display: inline-flex;
    flex-wrap: wrap;
    gap : 2px;
}

.productPgImg>div img{
    height: 100%;
    max-height: 10vh;
    width: auto;
    max-width: 10vw;
}
.productPgDescription{
    width: 40%;
}

.inlineList{
    width: 100%;
    height: fit-content;
    max-height: 30vh;
    display: inline-flex;
    flex-wrap:wrap;
    overflow: hidden;
}
.inlineList p{
    transition: 1s;
}
.moreProductDetail{
    display: inline-flex;
    justify-content: space-around;
    align-items: stretch;
}
.moreProductDetail>ul{
    list-style: none;
    border-radius: 8%;
    width: 30%;
    box-shadow: var(--shadow);
    padding: 2vh 1vw;
    overflow: hidden;
}

.moreProductDetail p {
    text-transform: uppercase;
    padding-bottom: 2vh;
    font-weight: 600;
    letter-spacing: 1px;
}

.moreProductDetail>ul * {
    margin: 0.8vh auto;
}
.moreProductDetail>ul img{
    width: 5vw;
    max-width: 50px;
    height: auto;
}