.footer>div{
    padding: 4% 5vw;
    flex-wrap: wrap;
    text-align: left;
    width: 100%;
    height: auto;
    margin: 0;
}
.firstFooter{
    display: inline-flex;
    justify-content: space-between;
    align-items: flex-start;
    background-color: var(--highlighter);
}

.secondFooter{
    background-color: rgb(246, 246, 248);
}

.accordianItem{
    width: auto;
    min-width: 350px;
    max-width: 1200px;
    transition: 1s;
}

.accordianItem a , .accordianItem p , .accordianBody span {
    margin: 2px 0;
}

.accordianBtnDiv{
    width: 100%;
    display: inline-flex;
    justify-content: space-between;
    align-items: first baseline;
}

.accordianBtnDiv>p{
    margin-bottom: 1rem;
}
.accordianBtn{
    cursor: pointer;
    position: relative;
    width: fit-content;
    display: inline-flex;
    justify-content:flex-end;
    align-items: center;
    border: 0px;
    background-color: transparent;
    font-size: 2rem;
    transition: 0.2s;
}

.accordianBody{
    overflow: hidden;
    display: none;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    transition: 1s;
}
.accordianBody label{
    margin-left: 1vw;

}

.socialDiv{
    background-color: var(--bg);   
    display: inline-flex;
    justify-content: space-around;
    align-items: center;
}
.social{
    display: inline-flex;
}
.social div{
    font-size: 1.5rem;
    margin: 0 1vw;
}
.copyright{
    color: var(--borderColor);
    text-align: center;
    font-style: italic;
    margin: 0;
}

@media screen and (min-width : 768px){
    .secondFooter .accordianBtn{
        display: none;
    }
    .secondFooter .accordianBody{
        display:flex;
    }
}