.miniCart{
    background-color: transparent;
    padding: 1%;
    width: 30vw;
    min-width: 200px;
    height: auto;
    min-height: 400px;    
    z-index: 120;
}
.miniCart *{
    margin: 2% auto;
}
